{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='{% static 'css/index.css' %}'>
    <title>Lift Simulation</title>
    <link rel='icon' href='{% static 'image/lift_title.png' %}' type='image/x-icon'>
</head>
<body>
    <header>
        <h1>LIFT SIMULATION</h1>
   </header>
      <div id="container">
         <div class='floor10'>
             <button class='button-down' id="level10">DOWN</button>
             <h4>FLOOR 10</h4>
            </div>
          <div class='floor9'>
             <div><button class='button-up' id="level9">UP</button></div>
             <button class='button-down' id="level9" >DOWN</button>
             <h4>FLOOR 9</h4>
             </div>
         <div class='floor8'>
            <div><button class='button-up' id="level8">UP</button></div>
            <button class='button-down'id="level8">DOWN</button>
            <h4>FLOOR 8</h4>
         </div>
         <div class='floor7'>
             <div><button class='button-up' id="level7">UP</button></div>
             <button class='button-down' id="level7" >DOWN</button>
             <h4>FLOOR 7</h4>
             </div>
         <div class='floor6'>
            <div><button class='button-up' id="level6">UP</button></div>
            <button class='button-down'id="level6">DOWN</button>
            <h4>FLOOR 6</h4>
         </div>
         <div class='floor5'>
             <div><button class='button-up' id="level5">UP</button></div>
             <button class='button-down' id="level5" >DOWN</button>
             <h4>FLOOR 5</h4>
             </div>
         <div class='floor4'>
            <div><button class='button-up' id="level4">UP</button></div>
            <button class='button-down'id="level4">DOWN</button>
            <h4>FLOOR 4</h4>
         </div>
          <div class='floor3'>
              <div><button class='button-up' id="level3">UP</button></div>
              <button class='button-down' id="level3" >DOWN</button>
              <h4>FLOOR 3</h4>
              </div>
          <div class='floor2'>
             <div><button class='button-up' id="level2">UP</button></div>
             <button class='button-down'id="level2">DOWN</button>
             <h4>FLOOR 2</h4>
          </div>
          <div class='floor1'>
           <button class='button-up' id="level1">UP</button>
           <h4>FLOOR 1</h4>
         </div>  
         <br><br>
         <p style= "right: 80%;"> Transition per floor -  <span id="range"></span>s</p>
         <input type="range" min="1" max="10" value="2" class="slider" id="transitionRange">
            <div id ="lift1"><img src='{% static 'image/elevator.png'%}' alt="elevator image"></div>
            <div id ="lift2"><img src='{% static 'image/elevator.png'%}' alt="elevator image"></div>
            <div id ="lift3"><img src='{% static 'image/elevator.png'%}' alt="elevator image"></div>
            <div id ="lift4"><img src='{% static 'image/elevator.png'%}' alt="elevator image"></div>
          </div>
          <div>
            <a href="https://github.com/abhinav1590/Lift-Simulation-webapp">
               <p class="code">CLICK HERE FOR CODE</p></a>
            </div>
            <script <script type="module" type="text/javascript" src='{% static 'js/simulation.js' %}'></script>
</body>
</html>
